<h1>Scholar.ly</h1>

<h3>Student Profile</h3>

First Name: <%= @student.first_name %><br />
Last Name: <%= @student.last_name %><br />
Scholarship Amount requested: <%= @student.scholarship_money %><br />
Grade Level: <%= @student.type_student_grade_level %><br />
Email: <%= @student.email %><br />

 <%= form_tag charges_path do %>
   <article>
     <% if flash[:error].present? %>
       <div id="error_explanation">
         <p><%= flash[:error] %></p>
       </div>
     <% end %>
     <h1> Donate to <%= @student.first_name %> today!</h1>
     <label class="amount">
       <span>Min Amount: $1,000.00</span>
     </label>
   </article>

   <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
           data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
           data-description="A month's subscription"
           data-amount="100000"
           data-locale="auto"></script>
 <% end %>